body {
  overflow: hidden;
  background-image: url("assets/2d_world.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
  touch-action: manipulation;
  height: 33.9vh;
}
#player {
  background-image: url("assets/idle.png");
  width: 200px;
  height: 257px;
  position: absolute; /* <-- Change this */
  top: 20vh; /* Or top: 0; if you want to control from JS */
  left: 0;
}
#gold {
  background-image: url(assets/gold.webp);
  background-repeat: no-repeat;
  width: 720px;
  height: 720px;
  scale: 0.1;
  position: absolute;
  left: 77vw;
  top: 19.1vh;
}

#cobblestone1 {
  background-image: url(assets/cobblestone.webp);
  background-repeat: no-repeat;
  width: 494px;
  height: 510px;
  scale: 0.15;
  position: absolute;
  left: 7vw;
  top: 21.9vh;
}
#cobblestone2 {
  background-image: url(assets/cobblestone.webp);
  background-repeat: no-repeat;
  width: 494px;
  height: 510px;
  scale: 0.15;
  position: absolute;
  left: 7vw;
  top: 30vh;
}
#zombie {
  background-image: url(assets/zombieRight.png);
  background-repeat: no-repeat;
  width: 327px;
  height: 477px;
  position: absolute;
  top: 25.4vh;
  scale: 0.4;
  left: 35vw;
}
